{% extends "base.html" %}

{% block extra_css %}
    <style>
        .image img {
            width: 100%; !important;
            height: 100%; !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <div>
            <a class="fs-4" href="{% url 'index' %}">New Questions</a>
            <p class="fs-3 mx-2 d-inline-flex">Hot Questions</p>
        </div>
        {% for question in questions %}
            {% include "question/card.html" %}
        {% empty %}
            <p>nothing...</p>
        {% endfor %}
        <nav>
            <ul class="pagination">
                {% if prev %}
                    <li class="page-item"><a class="page-link link-dark" href="{% url 'hot_questions' %}?page={{ prev }}"><span>&laquo;</span></a></li>
                    <li class="page-item"><a class="page-link link-dark" href="{% url 'hot_questions' %}?page={{ prev }}">{{ prev }}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link link-dark" href="{% url 'hot_questions' %}?page={{ page }}">{{ page }}</a></li>
                {% if next %}
                    <li class="page-item"><a class="page-link link-dark" href="{% url 'hot_questions' %}?page={{ next }}">{{ next }}</a></li>
                    <li class="page-item"><a class="page-link link-dark" href="{% url 'hot_questions' %}?page={{ next }}"><span>&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
