{% extends "base.html" %}

{% block content %}
    <div>
        <p class="fs-3 d-inline-flex">New Questions</p>
        <a class="fs-4 mx-2" href="{% url 'hot_questions' %}">Not Questions</a>
        {% for question in questions %}
            {% include "question/card.html" %}
        {% empty %}
            <p>nothing...</p>
        {% endfor %}
        <nav>
            <ul class="pagination">
                {% if prev %}
                    <li class="page-item"><a class="page-link link-dark" href="{% url 'index' %}?page={{ prev }}"><span>&laquo;</span></a></li>
                    <li class="page-item"><a class="page-link link-dark" href="{% url 'index' %}?page={{ prev }}">{{ prev }}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link link-dark" href="{% url 'index' %}?page={{ page }}">{{ page }}</a></li>
                {% if next %}
                    <li class="page-item"><a class="page-link link-dark" href="{% url 'index' %}?page={{ next }}">{{ next }}</a></li>
                    <li class="page-item"><a class="page-link link-dark" href="{% url 'index' %}?page={{ next }}"><span>&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
