{% extends "base.html" %}

{% block content %}
    <div>
        <p class="fs-3 d-inline-flex">New Questions</p>
        <a class="fs-4 mx-2" href="{% url 'hot_questions' %}">Not Questions</a>
        {% for question in questions %}
            {% include "question/card.html" %}
        {% empty %}
            <p>nothing...</p>
        {% endfor %}
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link link-dark" href="#">
                        <span>&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link link-dark" href="#">1</a></li>
                <li class="page-item"><a class="page-link link-dark" href="#">2</a></li>
                <li class="page-item"><a class="page-link link-dark" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link link-dark" href="#">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
