{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/question_card.css' %}">
{% endblock %}

{% block content %}
    <div class="text-center border rounded border-3 pt-2">
        <img class="rounded" style="max-width: 500px; max-height: 500px;" src="{{ object.avatar.url }}" alt="avatar">
        <p class="fs-2">{{ object.nickname }}</p>
        <p>Rating: {{ object.rating }}</p>
        <p>Member since: {{ object.user.date_joined }}</p>
        {% if is_author %}
            <a class="link-info" href="{% url 'settings' %}">Settings</a>
        {% endif %}
    </div>
    <div class="accordion my-5">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                    Questions and answers
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    {% for question in questions %}
                        {% include "question/card.html" %}
                    {% empty %}
                        <p>nothing...</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/question_card.js' %}"></script>
{% endblock %}
