{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
    <div>
        <p class="fs-3">Settings: <span>{{ profile.nickname }}</span></p>
        {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container text-center">
                {% for field in form %}
                    <div class="row my-2">
                        <label class="col">
                            {{ field.label }}
                        </label>
                        <div class="col-10">
                            {% if field.errors %}
                                {{ field|add_class:"is-invalid form-control" }}
                                <div class="invalid-feedback text-start">
                                    {% for error in field.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <input class="btn btn-secondary" type="submit" value="Save">
        </form>
        <a class="btn btn-info mt-4" href="{% url 'password_change' %}">Change password</a> <br>
        <a class="btn btn-primary mt-4" href="{% url 'profile' id=request.user.id %}">My profile</a>
    </div>
{% endblock %}
