{% extends "base.html" %}

{% block content %}
    <div>
        <p>Settings: <span>Dr. Pepper</span></p>
        <form>
            {% csrf_token %}
            <div class="container text-center">
                <div class="row my-2">
                    <label class="col" for="login">
                        Login
                    </label>
                    <div class="col-10">
                        <input id="login" class="form-control" type="text">
                    </div>
                </div>
                <div class="row my-2">
                    <label class="col" for="email">
                        Email
                    </label>
                    <div class="col-10">
                        <input id="email" class="form-control" type="text">
                    </div>
                </div>
                <div class="row my-2">
                    <label class="col" for="nickname">
                        NickName
                    </label>
                    <div class="col-10">
                        <input id="nickname" class="form-control" type="text">
                    </div>
                </div>
                <div class="row my-2">
                    <label class="col" for="avatar">
                        Avatar
                    </label>
                    <div class="col-10">
                        <input id="avatar" class="form-control" type="image" alt="avatar">
                    </div>
                </div>
            </div>
            <input class="btn btn-secondary" type="submit" value="Save">
        </form>
    </div>
{% endblock %}
