{% load custom_filters %}
<div class="question_card border rounded border-dark border-3 container row mb-5 py-1" onclick="open_card({{ question.id }})">
    <div class="col my-auto">
        <img class="img-fluid" style="max-width: 100px; max-height: 100px;" src="{{ question.author.profile.avatar.url }}" alt="avatar">
        <p class="m-0 p-0">{{ question.rating }}</p>
    </div>
    <div class="col-10">
        <p class="fs-4">{{ question.title }}</p>
        <div style="height: 8vh; overflow: hidden">
            <p class="text-truncate">{{ question.text|safe }}</p>
        </div>
        <div class="row mt-4">
            <div class="col">
                <p>answers ({{ answer_counts|get_item:question.id }})</p>
            </div>
            <div class="col-9 text-truncate">
                <span class="fw-semibold">Tags: </span>
                {% for tag in question.tags.all %}
                    <span class="text-{{ tag.color }}">{{ tag }}</span>
                {% empty %}
                    <span>nothing...</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
