{% extends "base.html" %}
{% load static %}

{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-auto">
                    <img class="img-fluid" style="max-width: 100px; max-height: 100px;"
                         src="{{ question.author.profile.avatar.url }}" alt="avatar">
                    {% if request.user.is_authenticated %}
                        <button id="like_btn"
                                class="btn {% if is_question_liked %} btn-success {% else %} btn-outline-secondary {% endif %} my-0 d-block my-2"
                                onclick="question_like({{ question.id }})">{{ question.rating }}</button>
                    {% else %}
                        <p>{{ question.rating }}</p>
                    {% endif %}
                    <p id="is_liked" class="d-none">{{ is_question_liked }}</p>
                </div>
                <div class="col">
                    <p class="fs-3">{{ question.title }}</p>
                    <p>{{ question.text }}</p>
                    <p class="mb-0"><span class="fw-semibold">Tags:</span>
                        {% for tag in question.tags.all %}
                            <a class="link-{{ tag.color }}" href="{% url 'tag' tag=tag.text %}">{{ tag.text }}</a>
                        {% empty %}
                            <span>no tags...</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <hr>
        {% for answer in answers %}
            {% include "question/answer.html" %}
        {% empty %}
            <p>nothing...</p>
        {% endfor %}
        <hr>
        <form>
            {% csrf_token %}
            <label class="d-none" for="answer"></label>
            <textarea id="answer" class="form-control my-2" placeholder="Enter your answer here..."></textarea>
            <input class="btn btn-secondary" type="submit" value="Answer">
        </form>
    </div>

    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}
