{% extends "base.html" %}

{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-auto">
                    <img src="" alt="avatar">
                    <p class="my-0">5</p>
                </div>
                <div class="col">
                    <p>{{ question.title }}</p>
                    <p>{{ question.text }}</p>
                    <p class="mb-0">Tags:
                        {% for tag in question.tags.all %}
                            <span>{{ tag.text }}</span>
                        {% empty %}
                            <span>no tags...</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <hr>
        {% for answer in answers %}
            {% include "question/answer.html" %}
        {% empty %}
            <p>nothing...</p>
        {% endfor %}
        <hr>
        <form>
            {% csrf_token %}
            <label class="d-none" for="answer"></label>
            <textarea id="answer" class="form-control my-2" placeholder="Enter your answer here..."></textarea>
            <input class="btn btn-secondary" type="submit" value="Answer">
        </form>
    </div>
{% endblock %}
