{% extends "base.html" %}

{% block content %}
    <p class="fs-3">Registration</p>
    {% if form.non_field_errors  %}
        <ul>
            {% for error in form.non_field_errors  %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container text-center">
            <div class="row my-2">
                <label class="col" for="login">
                    Login*
                </label>
                <div class="col-10">
                    <input id="login" class="form-control {% if form.username.errors %} is-invalid {% endif %}" type="text" name="username" required value="{{ form.username.value|default:"" }}">
                    {% if form.username.errors %}
                        <div class="invalid-feedback text-start">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row my-2">
                <label class="col" for="email">
                    Email*
                </label>
                <div class="col-10">
                    <input id="email" class="form-control {% if form.email.errors %} is-invalid {% endif %}" type="email" name="email" required value="{{ form.email.value|default:"" }}">
                    {% if form.email.errors %}
                        <div class="invalid-feedback text-start">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row my-2">
                <label class="col" for="nickname">
                    NickName*
                </label>
                <div class="col-10">
                    <input id="nickname" class="form-control {% if form.nickname.errors %} is-invalid {% endif %}" type="text" name="nickname" required value="{{ form.nickname.value|default:"" }}">
                    {% if form.nickname.errors %}
                        <div class="invalid-feedback text-start">
                            {% for error in form.nickname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row my-2">
                <label class="col" for="password">
                    Password*
                </label>
                <div class="col-10">
                    <input id="password" class="form-control {% if form.password1.errors %} is-invalid {% endif %}" type="password" name="password1" required>
                    {% if form.password1.errors %}
                        <div class="invalid-feedback text-start">
                            {% for error in form.password1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row my-2">
                <label class="col" for="repeat_password">
                    Repeat password*
                </label>
                <div class="col-10">
                    <input id="repeat_password" class="form-control {% if form.password2.errors %} is-invalid {% endif %}" type="password" name="password2" required>
                    {% if form.password2.errors %}
                        <div class="invalid-feedback text-start">
                            {% for error in form.password2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row my-2">
                <label class="col" for="avatar">
                    Avatar
                </label>
                <div class="col-10">
                    <input id="avatar" class="form-control {% if form.avatar.errors %} is-invalid {% endif %}" accept="image/*" name="avatar" type="file" alt="avatar">
                    {% if form.avatar.errors %}
                        <div class="invalid-feedback text-start">
                            {% for error in form.avatar.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
        <br>
        <a class="link-secondary" href="{% url 'login' %}">Already have an account</a>
    </form>
{% endblock %}
