{% extends "base.html" %}

{% block content %}
    <p class="fs-3">Log in</p>
    {% if form.errors %}
        <ul>
            {% for field, error in form.errors.items %}
                <li>{{ field }}: {{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="continue" value="{{ request.GET.continue }}">
        <div class="container text-center">
            <div class="row my-2">
                <label class="col" for="id_username">
                    Login
                </label>
                <div class="col-10">
                    <input id="id_username" name="username" class="form-control" type="text" required>
                </div>
            </div>
            <div class="row my-2">
                <label class="col" for="id_password">
                    Password
                </label>
                <div class="col-10">
                    <input id="id_password" name="password" class="form-control" type="password" required>
                </div>
            </div>
        </div>
        <input class="btn btn-secondary" type="submit" value="Log in">
    </form>
    <a href="{% url 'django_registration_register' %}">create new account</a>
{% endblock %}
