{% extends "base.html" %}

{% block content %}
    <p class="fs-3">Log in</p>
    {% if form.non_field_errors  %}
        <ul>
            {% for error in form.non_field_errors  %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="container text-center">
            <div class="row my-2">
                <label class="col" for="id_username">
                    Login*
                </label>
                <div class="col-10">
                    <input id="id_username" name="username" class="form-control" type="text" required>
                    {% if form.username.errors %}
                        <div class="invalid-feedback text-start">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row my-2">
                <label class="col" for="id_password">
                    Password*
                </label>
                <div class="col-10">
                    <input id="id_password" name="password" class="form-control" type="password" required>
                    {% if form.password.errors %}
                        <div class="invalid-feedback text-start">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Log in">
    </form>
    <a class="link-primary" href="{% url 'django_registration_register' %}">create new account</a>
{% endblock %}
