{% load static %}
<!DOCTYPE html>
<html lang="ru" data-bs-theme="{{ color_theme }}">
<head>
    <meta charset="UTF-8">
    <title>AskPupkin</title>
    <link rel="stylesheet" href="{% static 'css/cdn_bootstrap.css' %}">
    <style>
        body {
            display: grid;
            grid-template-rows: auto 1fr auto;
            min-height: 100vh;
        }
        .profile_block:hover {
            cursor: pointer;
        }
        #search_datalist {
            background-color: aliceblue;
            border-radius: 4px;
        }
    </style>
    {% block extra_css %}{% endblock %}
    <script>
        function open_profile(user_id) {
            window.location = `/profile/${user_id}`
        }

        document.addEventListener('DOMContentLoaded', function() {
            let currentTheme = localStorage.getItem('theme') || 'light'
            document.documentElement.setAttribute('data-bs-theme', currentTheme)
            switchCkEditorTheme(currentTheme)
        });

        function switchCkEditorTheme(theme) {
            const editors = document.querySelectorAll('.ck-editor-container')

            editors.forEach(editor => {
                editor.setAttribute('data-theme', theme)
            });
        }
    </script>
</head>
<body>
<header class="p-2">
    <nav class="navbar p-0">
        <div class="d-flex justify-content-between" style="width: 100%">
            <div class="mx-1">
                <a class="navbar-brand" href="{% url 'index' %}">AskPupkin</a>
            </div>
            <div>
                <form>
                    <p class="d-inline-flex">
                        <input id="search_input" class="form-control me-2" type="text" placeholder="Search"
                               oninput="search()">
                        <a class="btn btn-primary" href="{% url 'ask' %}">Ask!</a>
                    </p>
                    <div id="search_datalist" class="collapse position-absolute p-2" style="max-width: 20rem; overflow: hidden; z-index: 3">
                        {# place to generate search results #}
                    </div>
                </form>
            </div>
            <div class="row mx-1">
                {% if request.user.is_authenticated %}
                    <div class="col profile_block p-0 mx-3">
                        <img onclick="open_profile({{ request.user.id }})" class="img-fluid rounded" style="max-width: 100px; max-height: 100px;"
                             src="{{ profile.thumbnail_avatar.url }}" alt="avatar">
                        <p class="text-center m-0">{{ profile.nickname }}</p>
                    </div>
                    <div class="col">
                        <a href="{% url 'settings' %}">settings</a>
                        <br>
                        <a class="link-danger" href="{% url 'logout' %}">log out</a>
                    </div>
                {% else %}
                    <a class="link-success" href="{% url 'login' %}">log in</a>
                    <a href="{% url 'django_registration_register' %}">register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <hr>
</header>
<main class="p-2">
    <div class="container">
        <div class="row">
            <div class="col-10">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col">
                <div class="p-2">
                    <div class="mb-4">
                        <p class="m-0 fs-5 fw-semibold">Popular Tags</p>
                        {% for tag in popular_tags %}
                            <a class="text-{{ tag.color }}" href="{% url 'tag' tag=tag.text %}">{{ tag }}</a>
                        {% empty %}
                            <p>some tags</p>
                        {% endfor %}
                    </div>
                    <div>
                        <p class="m-0 fs-5 fw-semibold">Best Members</p>
                        {% for profile in popular_profiles %}
                            <a class="link-primary" href="{% url 'profile' id=profile.id %}">{{ profile }}</a>
                        {% empty %}
                            <p>some members</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="bg-secondary p-2">
    <p><span class="fw-semibold">Темиров Тимур</span> (Web-11). Contacts: telegram: @ttemirov14, vk:
        <a class="link-info" href="https://vk.com/ttemirov14" target="_blank">ttemirov14</a></p>
</footer>
<script src="{% static 'js/cdn_bootstrap.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>